In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(0)
data = np.random.random(size=(4, 5))
df = pd.DataFrame(data)
df

          0         1         2         3         4
0  0.548814  0.715189  0.602763  0.544883  0.423655
1  0.645894  0.437587  0.891773  0.963663  0.383442
2  0.791725  0.528895  0.568045  0.925597  0.071036
3  0.087129  0.020218  0.832620  0.778157  0.870012

In [3]:
pd.options.display.precision

6

In [4]:
pd.options.display.precision = 2

In [5]:
df

      0     1     2     3     4
0  0.55  0.72  0.60  0.54  0.42
1  0.65  0.44  0.89  0.96  0.38
2  0.79  0.53  0.57  0.93  0.07
3  0.09  0.02  0.83  0.78  0.87