In [1]:
import pandas as pd
df = pd.read_csv("../data/employees.csv", parse_dates=["Start Date", "Last Login Time"])
df["Gender"] = df["Gender"].astype("category")
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Team"] = df["Team"].astype("category")
df.head(10)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2023-08-08 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2023-08-08 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2023-08-08 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2023-08-08 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2023-08-08 16:47:00,101004,1.389,True,Client Services
5,Dennis,Male,1987-04-18,2023-08-08 01:35:00,115163,10.125,False,Legal
6,Ruby,Female,1987-08-17,2023-08-08 16:20:00,65476,10.012,True,Product
7,NaN,Female,2015-07-20,2023-08-08 10:43:00,45906,11.598,True,Finance
8,Angela,Female,2005-11-22,2023-08-08 06:29:00,95570,18.523,True,Engineering
9,Frances,Female,2002-08-08,2023-08-08 06:51:00,139852,7.524,True,Business Development

In [2]:
df["Team"].unique()

['Marketing', NaN, 'Finance', 'Client Services', 'Legal', ..., 'Engineering', 'Business Development', 'Human Resources', 'Sales', 'Distribution']
Length: 11
Categories (10, object): ['Business Development', 'Client Services', 'Distribution', 'Engineering', ..., 'Legal', 'Marketing', 'Product', 'Sales']

In [3]:
df["Team"].nunique()

10

In [4]:
df["Team"].nunique(dropna=False)

11