In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "x": [50, 100, 150, 200],
    "y": [500, 1000, 1500, 2000],
})
df

     x     y
0   50   500
1  100  1000
2  150  1500
3  200  2000

In [5]:
df.mean(axis="index")

x     125.0
y    1250.0
dtype: float64

In [9]:
df.apply(lambda col: col.mean(), axis="index")

x     125.0
y    1250.0
dtype: float64

In [7]:
df.mean(axis="columns")

0     275.0
1     550.0
2     825.0
3    1100.0
dtype: float64

In [10]:
df.apply(lambda row: row.mean(), axis="columns")

0     275.0
1     550.0
2     825.0
3    1100.0
dtype: float64

In [3]:
df.sum(axis="index")

x     500
y    5000
dtype: int64

In [4]:
df.apply(lambda col: col.sum(), axis="index")

x     500
y    5000
dtype: int64

In [5]:
df.sum(axis="columns")

0     550
1    1100
2    1650
3    2200
dtype: int64

In [6]:
df.apply(lambda row: row.sum(), axis="columns")

0     550
1    1100
2    1650
3    2200
dtype: int64