In [20]:
import pandas as pd
df = pd.read_csv("../data/bigmac.csv", parse_dates=["Date"])
df.head()

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [21]:
print(df["Date"].nunique())
print(df["Country"].nunique())
# which one has less unique values should be the first index(upper layer)

12
58

In [22]:
df.set_index(keys=["Date", "Country"], inplace=True)
df

                          Price in US Dollars
Date       Country
2016-01-01 Argentina                     2.39
           Australia                     3.74
           Brazil                        3.35
           Britain                       4.22
           Canada                        4.14
...                                       ...
2010-01-01 Turkey                        3.83
           UAE                           2.99
           Ukraine                       1.83
           United States                 3.58
           Uruguay                       3.32

[652 rows x 1 columns]

In [23]:
df.index

MultiIndex([('2016-01-01',      'Argentina'),
            ('2016-01-01',      'Australia'),
            ('2016-01-01',         'Brazil'),
            ('2016-01-01',        'Britain'),
            ('2016-01-01',         'Canada'),
            ('2016-01-01',          'Chile'),
            ('2016-01-01',          'China'),
            ('2016-01-01',       'Colombia'),
            ('2016-01-01',     'Costa Rica'),
            ('2016-01-01', 'Czech Republic'),
            ...
            ('2010-01-01',      'Sri Lanka'),
            ('2010-01-01',         'Sweden'),
            ('2010-01-01',    'Switzerland'),
            ('2010-01-01',         'Taiwan'),
            ('2010-01-01',       'Thailand'),
            ('2010-01-01',         'Turkey'),
            ('2010-01-01',            'UAE'),
            ('2010-01-01',        'Ukraine'),
            ('2010-01-01',  'United States'),
            ('2010-01-01',        'Uruguay')],
           names=['Date', 'Country'], length=652)

In [24]:
df.index.names

FrozenList(['Date', 'Country'])

In [25]:
df.index[0]

(Timestamp('2016-01-01 00:00:00'), 'Argentina')