In [25]:
import pandas as pd
df = pd.read_csv("../data/salesmen.csv", parse_dates=["Date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1830 non-null   datetime64[ns]
 1   Salesman  1830 non-null   object
 2   Revenue   1830 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 43.0+ KB

In [28]:
df["Salesman"] = df["Salesman"].astype("category")
df["Revenue"] = df["Revenue"].astype("int16")
df.info()
# 50 percent decrease of memory used

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1830 non-null   datetime64[ns]
 1   Salesman  1830 non-null   category
 2   Revenue   1830 non-null   int16
dtypes: category(1), datetime64[ns](1), int16(1)
memory usage: 20.0 KB

In [38]:
df2 = df.pivot(index="Date", columns="Salesman", values="Revenue")
df2

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6362  8278  8026   8661    4951
2016-01-03  5982  4226  5188   7075    2703
2016-01-04  7917  3868  3144   2524    4258
2016-01-05  7837  2287   938   2793    7771
...          ...   ...   ...    ...     ...
2016-12-27  2045  2843  6666    835    2981
2016-12-28   100  8888  1243   3073    6129
2016-12-29  4115  9490  3498   6424    7662
2016-12-30  2577  3594  8858   7088    2570
2016-12-31  3845  6830  9717   8408    2619

[366 rows x 5 columns]

In [39]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 366 entries, 2016-01-01 to 2016-12-31
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Bob     366 non-null    int16
 1   Dave    366 non-null    int16
 2   Jeb     366 non-null    int16
 3   Oscar   366 non-null    int16
 4   Ronald  366 non-null    int16
dtypes: int16(5)
memory usage: 6.4 KB

In [41]:
(20-6.4)*100 / 20

68.0

In [40]:
df2["Bob"]

Date
2016-01-01    7172
2016-01-02    6362
2016-01-03    5982
2016-01-04    7917
2016-01-05    7837
              ...
2016-12-27    2045
2016-12-28     100
2016-12-29    4115
2016-12-30    2577
2016-12-31    3845
Name: Bob, Length: 366, dtype: int16