In [1]:
import pandas as pd
week1 = pd.read_csv("../data/Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("../data/Restaurant - Week 2 Sales.csv")

In [2]:
week1.head(2)

   Customer ID  Food ID
0          537        9
1           97        4

In [3]:
week2.head(2)

   Customer ID  Food ID
0          688       10
1          813        7

In [4]:
week1.merge(
    week2,
    how="inner",
    on=["Customer ID", "Food ID"],
)

   Customer ID  Food ID
0          304        3
1          540        3
2          937       10
3          233        3
4           21        4
5           21        4
6          922        1
7          578        5
8          578        5