In [1]:
import pandas as pd
pd.read_csv("../data/ecommerce.csv").head()

   ID order_date delivery_date
0   1    5/24/98        2/5/99
1   2    4/22/92        3/6/98
2   4    2/10/91       8/26/92
3   5    7/21/92      11/20/97
4   7     9/2/93       6/10/98

In [2]:
df = pd.read_csv(
    "../data/ecommerce.csv",
    index_col="ID",
    parse_dates=["order_date", "delivery_date"],
)
df.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [4]:
df["delivery_time"] = df["delivery_date"] - df["order_date"]
df.head()

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [6]:
df[df["delivery_time"] > "365 days"]

    order_date delivery_date delivery_time
ID
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
9   1990-01-25    1994-10-02     1711 days
..         ...           ...           ...
986 1990-12-10    1992-12-16      737 days
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
997 1990-01-04    1991-10-03      637 days

[394 rows x 3 columns]

In [7]:
df["delivery_time"].min()

Timedelta('8 days 00:00:00')

In [9]:
df["delivery_time"].max()

Timedelta('3583 days 00:00:00')